 
<h1>Make a Reservation</h1>

<%= form_for @reservation do |f| %>

  <div class="field"> 
    <%= f.label :party_size %><br/>
    <%= f.number_field :party_size %>
  </div>

   <div class="field">
    <%= f.label :date %><br/>
    <%= f.datetime_field :date %>
  </div>

  <div class="actions"><%= f.submit %>
  </div>
<% end %>

 

 