<%= form_for @restaurant do |f| %>
<div class="field">
    <%= f.label :name %> 
    <%= f.text_field :name %>
</div>
<br>

<div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
</div>
<br>
<div class="field">
    <%= f.label :cuisine %>
    <%= f.text_field :cuisine %>
</div>
<br>

<%= f.submit class: :button %>

<% end %>