<%= form_for @restaurant do |f| %>
<div class="field">
    <%= f.label :name %> 
    <%= f.text_field :name %>
</div>
<br>

<div class="field">
    <%= f.label :capacity %>
    <%= f.number_field :capacity %>
</div>
<br>
<div class="field">
    <%= f.label :cuisine %>
    <%= f.text_field :cuisine %>
</div>
<br>
<div class="field">
    <%= check_box_tag(:gluten_free) %>
    <%= label_tag(:gluten_free, "We offer gluten free options") %>
    <%= check_box_tag(:romantic) %>
    <%= label_tag(:romantic, "Good for a romantic meal") %>
</div>
<br>
<%= f.submit class: :button %>

<% end %>