<h1><%= @restaurant.name %></h1>

<div class="restaurant-info">
	<p> Description: <%= @restaurant.description %> </p>
	<p> Address: <%= @restaurant.address %> </p>
	<p> Capacity: <%= @restaurant.capacity %> </p>
</div>


<div class="edit-buttons">
	<%= link_to "Edit", edit_restaurant_path(@restaurant), class: :button %>
	<%= link_to "View Reservations", restaurant_reservations_path(@restaurant), class: :button %>
</div>	

<div class="reservation-form">
	<% if current_user %>
	<h4>Create a Reservation</h4>
		<%= render 'reservations/form' %>
	<% else %>
	<h4>Log in to make a reservation</h4>
		<%= button_to 'Log In', login_path, class: :button, method: :get %>
	<% end %>
</div>